body {
	background-color:#3C3737;
        font-family: 'Source Sans Pro', sans-serif;
        font-size: 14px;
        color: white;
}




#topbar{float:left;
	position:absolute;
	right:10%;
	top:5%;
	width:80%;
	height:80%;
	
	
}



#input{
	text-align:left;
	float:left;
	margin-right:40px;
	margin-top:3%;
	
}

#ranges{text-align:center;
	float:left;
}
	

#nearyou{
	
	
	clear:both;
	height:400px;
	width:80%;
	border:1px solid gold;
	margin-top:5px;
	margin-left:9%;
	
	font:16px/26px Georgia, Garamond, Serif;
	overflow:auto;
	
}

