body{
	background-color:#3C3737;
}

.row1{
	width:100%;
	text-align:left;
	display:inline-block;
	padding-left: 30px;
    padding-top: 15px;
	
}




.row3{
	width: 50%;
	display: inline-block;
	
}

.review{
	
	height: 230px;
    padding: 10px;
	
	    border:1px solid gold;
	margin-left: 40px;
	margin-bottom: 10px;
    border-radius: 30px;
    margin-top: 60px;
	background-color:#211B1B;
	overflow:auto
}

.fav{
padding: 10px;
	float:right;
    width: 35%;
    margin-right: 9%;
    height: 200px;
overflow:auto;
    
    border-radius: 20px;
    border:1px solid gold;

    background-color: #211B1B;
}

.profile{
	text-align: left;
    padding: 15px 5px 0px 10px;
    display: inline-block;
    background-color: black;
    width: 60%;
    height: 215px;
    margin-left: 34px;

}


#logo{
	height:65px;
}

#prof{
	height: 200px;
   	 width: 215px;
	margin-right: 185px;

}


h1{
	color:white;
}

p{
	color:white;
}

